.icon-facebook::before {
    content: "\EA01"
}

.icon-replies::before {
    content: "\EA02"
}

.icon-eye::before {
    content: "\EA03"
}

.icon-arrow-left::before {
    content: "\EA04"
}

.icon-hamburger::before {
    content: "\EA05"
}

.icon-turkcell-logo-2::before {
    content: "\EA06"
}

.icon-delete::before {
    content: "\EA07"
}

.icon-error::before {
    content: "\EA08"
}

.icon-attachment::before {
    content: "\EA09"
}

.icon-filter::before {
    content: "\EA10"
}

.icon-sort-desc::before {
    content: "\EA11"
}

.icon-check-round::before {
    content: "\EA12"
}

.icon-check::before {
    content: "\EA13"
}

.icon-star-filled-v2::before {
    content: "\EA14"
}

.icon-close::before {
    content: "\EA18"
}

.icon-add-round::before {
    content: "\EA1B"
}

.icon-faq::before {
    content: "\EA25"
}

.icon-instagram::before {
    content: "\EA2E"
}

.icon-microphone::before {
    content: "\EA3A"
}

.icon-like::before {
    content: "\EA3E"
}

.icon-eye-closed::before {
    content: "\EA41"
}

.icon-hizli-giris::before {
    content: "\EA48"
}

.icon-resize-radius::before {
    content: "\EA49"
}

.icon-settings::before {
    content: "\EA4A"
}

.icon-linkedin::before {
    content: "\EA4E"
}

.icon-search::before {
    content: "\EA50"
}

.icon-question::before {
    content: "\EA51"
}

.icon-reply-line::before {
    content: "\EA52"
}

.icon-comment::before {
    content: "\EA53"
}

.icon-upload-file::before {
    content: "\EA56"
}

.icon-attach::before {
    content: "\EA57"
}

.icon-embed::before {
    content: "\EA58"
}

.icon-quote::before {
    content: "\EA59"
}

.icon-mail::before {
    content: "\EA5E"
}

.icon-turkcell-logo::before {
    content: "\EA60"
}

.icon-twitter::before {
    content: "\EA61"
}

.icon-bold::before {
    content: "\EA62"
}

.icon-italic::before {
    content: "\EA63"
}

.icon-underline::before {
    content: "\EA64"
}

.icon-bullets::before {
    content: "\EA65"
}

.icon-link::before {
    content: "\EA66"
}

.icon-unlink::before {
    content: "\EA67"
}

.icon-addimage::before {
    content: "\EA68"
}

.icon-youtube::before {
    content: "\EA69"
}

.icon-telephone::before {
    content: "\EA6E"
}

.icon-certificate::before {
    content: "\EA70"
}

.icon-play::before {
    content: "\EA71"
}

.icon-clock::before {
    content: "\EA72"
}

.icon-level::before {
    content: "\EA73"
}

.icon-user::before {
    content: "\EA74"
}

.icon-google-plus::before {
    content: "\EA75"
}

.icon-github::before {
    content: "\EA76"
}

.icon-quick-login::before {
    content: "\EA77"
}

.icon-return::before {
    content: "\EA78"
}

.icon-calendar::before {
    content: "\EA79"
}

.icon-close-round::before {
    content: "\EA7E"
}

.icon-arrow-active::before {
    content: "\EA80"
}

.icon-exam::before {
    content: "\EA81"
}

.icon-badge::before {
    content: "\EA82"
}

.icon-notes::before {
    content: "\EA83"
}

.icon-bookmark-filled::before {
    content: "\EA84"
}

.icon-bookmark::before {
    content: "\EA85"
}

.icon-copy::before {
    content: "\EA86"
}

.icon-resize::before {
    content: "\EA87"
}

.icon-lock::before {
    content: "\EA88"
}

.icon-unlocked::before {
    content: "\EA89"
}

.icon-info::before {
    content: "\EA8E"
}

.icon-minus::before {
    content: "\EA90"
}

.icon-plus::before {
    content: "\EA91"
}

.icon-edit::before {
    content: "\EA92"
}

.icon-reply::before {
    content: "\EA93"
}

.icon-sort::before {
    content: "\EA94"
}

.icon-share::before {
    content: "\EA95"
}

.icon-star::before {
    content: "\EA96"
}

.icon-star-filled::before {
    content: "\EA97"
}

.icon-arrow-down-curved::before {
    content: "\EA98"
}

.icon-sort-asc::before {
    content: "\EA99"
}

.icon-target::before {
    content: "\EA9E"
}

.course-catalogue {
    position: relative
}

.course-catalogue__title {
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    color: #253342;
    margin-bottom: 60px
}

.course-catalogue__desc {
    font-size: 18px;
    color: #8e9fad;
    line-height: 1.6em;
    font-weight: 500;
    margin-bottom: 40px
}

.course-catalogue .summary {
    position: relative;
    background-image: -o-linear-gradient(268deg, #ecf0f2 100%, #fcfcfc -29%);
    background-image: linear-gradient(182deg, #ecf0f2 100%, #fcfcfc -29%);
    padding: 1.375rem 0 2.5rem;
    margin-bottom: 0;
    z-index: 0
}

.course-catalogue .summary:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3.75rem;
    width: 20.3125rem;
    height: 13.3125rem;
    background: url("/themes/custom/gyz/img/content/back-shape@2x.png") left bottom no-repeat;
    background-size: cover;
    z-index: 1
}

@media screen and (max-width: 767px) {
    .course-catalogue .summary:after {
        top:-3.75rem;
        right: 0;
        left: inherit;
        bottom: inherit;
        width: 8.875rem;
        height: 11.5625rem;
        background: url("/themes/custom/gyz/img/content/back-shape-mobile@2x.png") right top no-repeat;
        background-size: cover
    }
}

.course-catalogue .summary-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 2
}

@media screen and (max-width: 767px) {
    .course-catalogue .summary-items {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

.course-catalogue .summary-items .m-box {
    max-width: 17.5rem;
    margin-right: 20px
}

.course-catalogue .summary-items .m-box:nth-last-child(1) {
    margin-right: 0
}

@media screen and (max-width: 767px) {
    .course-catalogue .summary-items .m-box {
        max-width:inherit;
        width: 100%;
        margin-right: 0;
        margin-bottom: .75rem
    }
}

.course-catalogue .summary .m-breadcrumb {
    position: relative;
    z-index: 0
}

.course-catalogue .course-list {
    margin-bottom: 0
}

.course-catalogue .course-list__item {
    padding: 3.75rem 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
    background-image: -o-linear-gradient(top, #fff, #fafafa);
    background-image: linear-gradient(to bottom, #fff, #fafafa)
}

.course-catalogue .course-list__item:nth-child(1) {
    padding-top: 0
}

@media screen and (max-width: 767px) {
    .course-catalogue .course-list__item .link:not(.desktop-hidden) {
        display:none
    }
}

.course-catalogue .course-list__item .link.desktop-hidden {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center
}

@media screen and (min-width: 768px) {
    .course-catalogue .course-list__item .link.desktop-hidden {
        display:none
    }
}

.course-catalogue .course-list__item .m-section__title {
    margin-bottom: 2.5rem
}

.course-catalogue .course-list__item .m-section__title--short {
    margin-bottom: 1.25rem
}

.course-catalogue .course-list__item .course-catalogue__desc {
    margin-bottom: 1.25rem
}

.course-catalogue .m-tab-default__pane>.filter {
    padding-bottom: 3.125rem
}

.course-catalogue .m-tab-default__pane>.filter .filter__inner {
    padding: 0
}

.course-catalogue .m-tab-default__pane>.filter .filter__inner.sticky-bar--not-top {
    padding: 1.25rem 0
}
